body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 2;
    padding: 8px;
}

input[type="date"],
select,
button {
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.task-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.badge {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

.priority-高 {
    background: #ffcccc;
    color: #cc0000;
}

.priority-中 {
    background: #e6f2ff;
    color: #0066cc;
}

.priority-低 {
    background: #e6ffe6;
    color: #009900;
}

/* 通常時の設定 */
.title,
.due {
    display: inline-block;
    vertical-align: middle;
}

.due {
    font-size: 13px;
    color: #666;
}

/* DELETE */
a.del-btn {
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

a.del-btn:hover {
    color: red;
}

/* 完了状態のスタイル設定 */
li.completed .title,
li.completed .due {
    text-decoration: line-through;
    /* 打ち消し線 */
    color: #888;
    /* グレー表示 */
}

li.completed {
    background-color: #f9f9f9;
}

/* 完了切替ボタンのスタイル */
.toggle-btn {
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.toggle-btn:hover {
    background-color: #eee;
}

/* EDIT */
a.edit-btn {
    color: #0066cc;
    text-decoration: none;
    font-size: 14px;
}

a.cancel-btn {
    align-self: center;
    color: #666;
    text-decoration: none;
}

a.edit-btn:hover {
    text-decoration: underline;
}

.task-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* 検索・フィルターフォームのスタイル */
.firuta-form {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f5f5f5;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.filter-form input[type="text"] {
    flex: 1
}

.reset-link {
    font-size: 13px;
    color: #666;
    text-decoration: none;
}

.reset-link:hover {
    text-decoration: underline;
}