<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF=8">
    <title>Python ToDoアプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Python Todoリスト</h1>
    <!--変更点 期限と優先度の追加-->
    <form action="/add" method="POST">
        <input type="text" name="title" placeholder="新しいタスクを入力" required>
        <input type="date" name="due_date">
        <select name="priority">
            <option value="高">優先度: 高</option>
            <option value="中" selected>優先度: 中</option>
            <option value="低">優先度: 低</option>
        </select>
        <button type="submit">追加</button>
    </form>

    <ul>
        {% for task in tasks %}
        <li class="{% if task[4] == 1 %}completed{% endif %}">
            <div class="task-info">
                <span class="badge priority-{{ task[3] }}">{{ task[3] }}</span>
                <span class="title">{{ task[1] }}</span>
                {% if task[2] %}
                <span class="due">期限: {{ task[2] }}</span>
                {% endif %}
            </div>

            <div class="task-actions">
                <a href="{{ url_for('toggle', task_id=task[0]) }}" class="btn toggle-btn">
                    {% if task[4] == 1 %} 戻す {% else %} 完了 {% endif %}
                </a>
                <a href="/edit/{{ task[0] }}" class="edit-btn">編集</a>
                <a href=" /delete/{{ task[0] }}" class="del-btn">削除</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>

</html>